<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt-A-Pet ♡ | Edit</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <div class="cats" id="flex-container">
        <form action="/cats/<%=cat.id%>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%=cat.name%>"/>
            <input type="text" name="breed" value="<%=cat.breed%>"/>
            <input type="text" name="gender" value="<%=cat.gender%>"/>
            <input type="text" name="img" placeholder="image url" />
            <button type="submit">Submit</button>
        </form>
        <h3><a href=<%='/' %>>Go Back</a></h3>
    </div>
</body>
</html>