<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt-A-Pet ♡ | View</title>
    <link rel="stylesheet" href="/styles/showCats.css" />
</head>

<body>
    <h3><a href="/cats">Go Back</a></h3>
    <div id="title">
    <h1>
        <%=cat.name %>
    </h1>
    </div>
    <div class="white-box">
 
    
       <figure>
        <div>
        <img src="<%=cat.img %>" />
        </div>
            <div class="img-with-text">
                <div>
                <figcaption>
                    <p>
                    <b>Name:</b> <%= cat.name %>
                    </p>
                    </ p>
                    <b>Breed:</b> <%=cat.breed %>
                    </p>
                    </p>
                    <b>Gender:</b> <%=cat.gender %>
                    </p>
        
    
                </figcaption>
                </div>
            </div>

            <center>
            <h4><a href='/cats/<%=cat._id%>/edit'><button>Edit</button></a></h4>

            <form action="/cats/<%= cat._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="delete">Adopt</button>
            </center>
        </figure>
               
        

    </div>    

    <br />
                              
                               

                                
</div>
    
  
    </form>

    </body>
    </html>
