<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Shop</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <h3><a href="/cats"> Back</a></h3>
    <h1>
        <%=cat.name %>
    </h1>
    <div class="show-items" id="flex-container">
       <figure>
        <div>
        <img src="<%=cat.img %>" />
        </div>
            <div class="img-with-text">
                <div>
                <figcaption>
                    <p>
                    Name: <%= cat.name %>
                    </p>
                    </ p>
                    Breed: <%=cat.breed %>
                    </p>
                    </p>
                    Gender: <%=cat.gender %>
                    </p>
        
    
                </figcaption>
        </div>
        </div>
        </figure>
               


                                <br />
                              
                               
                                <h4><a href='/cats/<%=cat._id%>/edit'><button>Edit</button></a></h4>

                                <form action="/cats/<%= cat._id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="delete">Adopt</button>
                                
    </div>
    
  
    </form>

    </body>
    </html>
