<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Shop</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <h3><a href="/dogs"> Back</a></h3>
    <h1>
        <%=dog.name %>
    </h1>
    <div class="show-items" id="flex-container">
        <figure>
            <div>
            <img src="<%=dog.img %>" width="200" height="200"/>
            </div>
                <div class="img-with-text">
                    <div>
                    <figcaption>
                        <p>
                        Name: <%= dog.name %>
                        </p>
                        </ p>
                        Breed: <%=dog.breed %>
                        </p>
                        </p>
                        Gender: <%=dog.gender %>
                        </p>
            
        
                    </figcaption>
            </div>
            </div>
            </figure>
        


                                <br />

                                <h4><a href='/dogs/<%=dog._id%>/edit'><button>Edit</button></a></h4>
    </div>
   
    <form action="/dogs/<%= dog._id%>?_method=DELETE" method="POST">
    <button type="submit" class="delete">Adopt</button>
    </form>

    </body>
    </html>
