<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt-A-Pet ♡ | View</title>
    <link rel="stylesheet" href="/styles/showCats.css" />
</head>

<body>
    <h3><a href="/dogs">Go Back</a></h3>
    <div id="title">
    <h1>
        <%=dog.name %>
    </h1>
    </div>
    <div class="white-box">

        <figure>
            <div>
            <img src="<%=dog.img %>" width="200" height="200"/>
            </div>
                <div class="img-with-text">
                    <div>
                    <figcaption>
                        <p>
                        <b>Name:</b> <%= dog.name %>
                        </p>
                        </ p>
                        <b>Breed:</b> <%=dog.breed %>
                        </p>
                        </p>
                        <b>Gender:</b> <%=dog.gender %>
                        </p>
            
        
                    </figcaption>
            </div>
            </div>
            <center>
            <h4><a href='/dogs/<%=dog._id%>/edit'><button>Edit</button></a></h4>
    
            <form action="/dogs/<%= dog._id%>?_method=DELETE" method="POST">
            <button type="submit" class="delete">Adopt</button>
            </center>
            </figure>
        

        </div>
        </ br>
                       

                            </div>
                            

    </form>

    </body>
    </html>
