<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Shop</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <h3><a href="/"> Back</a></h3>
    <h1>
        <%=dog.name %>
    </h1>
    <div class="show-items" id="flex-container">
       
        <img src="<%=dog.img %>" />
    <h1>
        <%=dog.description %>
            
            Breed: $<%=dog.breed %>
    </h1>
               


                                <br />
                                <form action="/dog/<%= dog._id %>/buy?_method=PUT" method="POST">
                                    <button type="submit">Adopt</button></form>
                                <!-- <h4><a href='/product/<%=product._id%>/buy'><button>Buy</button></a></h4> -->

                                <!-- <button class="buy">Buy</button> -->
                                <h4><a href='/dog/<%=dog._id%>/edit'><button>Edit</button></a></h4>
                                <!-- <h4><a href="#">Edit</a></h4> -->
    </div>
    <br />
    <form action="/dog/<%= dog._id%>?_method=DELETE" method="POST">
    <button type="submit" class="delete">Delete</button>
    </form>

    </body>
    </html>
